@font-face {
	font-family: "Norse";
	src: url(Norse-Bold.otf);
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
}

.outer {
	display: flex;
	margin: 0 7%;
}

.left-div {
	background-image: url(leaf.avif);
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	height: 100vh;
	position: relative;
}

.opaque-background {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	top: 25%;
}

.opaque-background p {
	color: white;
	font-family: "Norse";
	font-size: 3em;
	line-height: 2;
}

.left-div > p {
	color: white;
	font-size: 0.85em;
	text-align: center;
	position: relative;
	top: 95vh;
}

.right-div {
	background-color: white;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 200px;
}

a {
	color: white;
}

.right-div > p,
.right-div > div > p:first-child {
	font-weight: 900;
	font-size: 1.2em;
}

.right-div > .form {
	box-shadow: 10px 15px 15px -15px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-wrap: wrap;
}

.right-div > div > :last-child {
	font-size: 0.8em;
}

.right-div a {
	color: #596d48;
	font-weight: 900;
}

form button {
	color: white;
	background-color: #596d48;
	padding: 7px 30px;
	border-radius: 5px;
	font-weight: bold;
}
